import de la table adresse au format csv

In [ ]:
link  = "/content/drive/MyDrive/dataEngineer/adressTable.csv"

import de la biblioth√®que panda et de l'api nominatim

In [ ]:
import pandas as pd
from geopy.geocoders import Nominatim
geocoder = Nominatim()

df_adress = pd.read_csv(link);
df_adress.head()

/usr/local/lib/python3.8/dist-packages/geopy/geocoders/osm.py:132: UserWarning: Using Nominatim with the default "geopy/1.17.0" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  warnings.warn(

   address_id                  address           city  postal_code
0           1     318 CHE DE ROUMAGOUA      LA CIOTAT        13600
1           2         19 RUE DES DAMES  SAINTE SAVINE        10300
2           3  22 RUE AMIRAL GUEPRATTE     LE CONQUET        29217
3           4          6 BD DES ETINES      LE COTEAU        42120
4           5      35 AV DU 159EME RIA       BRIANCON         5100

In [ ]:
df_adress.isnull().sum()

address_id     0
address        0
city           0
postal_code    0
dtype: int64

Test de l'api sur une adresse

In [ ]:
location = geocoder.geocode('LYON 6EME')
print(location.latitude, location.longitude)

45.7728396 4.8441256

concat√©nation de la colonne "address" et "city" et cr√©ation d'une colonne adresse compl√©mentaire

In [ ]:
df_adress['address_comp'] = df_adress[['address', 'city']].apply(', '.join, axis=1)
df_adress.head()

,address_id,address,city,postal_code,address_comp
0,1,318 CHE DE ROUMAGOUA,LA CIOTAT,13600,"318 CHE DE ROUMAGOUA, LA CIOTAT"
1,2,19 RUE DES DAMES,SAINTE SAVINE,10300,"19 RUE DES DAMES, SAINTE SAVINE"
2,3,22 RUE AMIRAL GUEPRATTE,LE CONQUET,29217,"22 RUE AMIRAL GUEPRATTE, LE CONQUET"
3,4,6 BD DES ETINES,LE COTEAU,42120,"6 BD DES ETINES, LE COTEAU"
4,5,35 AV DU 159EME RIA,BRIANCON,5100,"35 AV DU 159EME RIA, BRIANCON"

In [ ]:
df_adress[['address_comp']].iloc[-1]

address_comp    4 RUE DENIS PAPIN, BLAIN
Name: 561, dtype: object

recherche des coordon√©es gps

In [ ]:
df_adress['location'] = df_adress['address_comp'].apply(lambda x:geocoder.geocode(x,timeout = 100))

In [ ]:
df_adress['longitude'] = df_adress['location'].apply(lambda x:x.longitude if x else None) 
df_adress['latitude'] = df_adress['location'].apply(lambda x:x.latitude if x else None)

In [ ]:
df_adress.head(10)
df_adress['address_id'].sum()

171011

recherche du nombre d'adresse sans coordon√©es gps

In [ ]:
df_adress['location'].isnull().sum()

89

attribution du tableau d'adresse n'ayant pas de coordon√©es dans une nouvelle variable

In [ ]:
df_nan = df_adress[df_adress['location'].isnull()]
df_nan.head()

,address_id,address,city,postal_code,address_comp,location,longitude,latitude
4,5,35 AV DU 159EME RIA,BRIANCON,5100,"35 AV DU 159EME RIA, BRIANCON",None,NaN,NaN
8,9,35 RUE PORTE ST JEAN,ORLEANS,45000,"35 RUE PORTE ST JEAN, ORLEANS",None,NaN,NaN
13,14,117 RUE DES CHARMETTES,LYON 6EME,69006,"117 RUE DES CHARMETTES, LYON 6EME",None,NaN,NaN
16,17,5 PL MARCEL PAGNOL,SAINT-NAZAIRE,44600,"5 PL MARCEL PAGNOL, SAINT-NAZAIRE",None,NaN,NaN
21,23,20 BD PDT FRANKLIN ROOSEVELT,BORDEAUX,33800,"20 BD PDT FRANKLIN ROOSEVELT, BORDEAUX",None,NaN,NaN

recherche des coordon√©es de df_nan √† l'aide de la ville

In [ ]:
df_nan['location'] = df_nan['city'].apply(lambda x:geocoder.geocode(x,timeout = 10000))
df_nan['longitude'] = df_nan['location'].apply(lambda x:x.longitude if x else None) 
df_nan['latitude'] = df_nan['location'].apply(lambda x:x.latitude if x else None)

<ipython-input-12-a0a846d2080e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nan['location'] = df_nan['city'].apply(lambda x:geocoder.geocode(x,timeout = 10000))
<ipython-input-12-a0a846d2080e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nan['longitude'] = df_nan['location'].apply(lambda x:x.longitude if x else None)
<ipython-input-12-a0a846d2080e>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nan['latitude'] = df_nan['location'].apply(lambda x:x.latitude if x else None)

ajout des valeurs de la table df_nan √† la table df_address

In [ ]:
df_adress.append(df_nan)
df_nan.head(20)

,address_id,address,city,postal_code,address_comp,location,longitude,latitude
4,5,35 AV DU 159EME RIA,BRIANCON,5100,"35 AV DU 159EME RIA, BRIANCON","(Brian√ßon, Hautes-Alpes, Provence-Alpes-C√¥te d...",6.643631,44.898404
8,9,35 RUE PORTE ST JEAN,ORLEANS,45000,"35 RUE PORTE ST JEAN, ORLEANS","(Orl√©ans, Loiret, Centre-Val de Loire, France ...",1.908607,47.902734
13,14,117 RUE DES CHARMETTES,LYON 6EME,69006,"117 RUE DES CHARMETTES, LYON 6EME","(Le Comptoir du 6√®me, Rue Vend√¥me, Lyon 6e Arr...",4.844126,45.772840
16,17,5 PL MARCEL PAGNOL,SAINT-NAZAIRE,44600,"5 PL MARCEL PAGNOL, SAINT-NAZAIRE","(Saint-Nazaire, Loire-Atlantique, Pays de la L...",-2.213891,47.273352
21,23,20 BD PDT FRANKLIN ROOSEVELT,BORDEAUX,33800,"20 BD PDT FRANKLIN ROOSEVELT, BORDEAUX","(Bordeaux, Gironde, Nouvelle-Aquitaine, France...",-0.580036,44.841225
26,29,24 AV DE LA SERANE,MARSEILLE 8EME,13008,"24 AV DE LA SERANE, MARSEILLE 8EME","(Dae de Mairie 8eme Groupe, 246, Rue de Lyon, ...",5.364699,43.333141
31,34,7 RES DE LA VIERGE,EYGUIERES,13430,"7 RES DE LA VIERGE, EYGUIERES","(Eygui√®res, Aix-en-Provence, Bouches-du-Rh√¥ne,...",5.029721,43.695131
33,37,28 LOT MONT VERNON I,SAINT MARTIN,97150,"28 LOT MONT VERNON I, SAINT MARTIN","(Saint-Martin (France), 97150, France, (18.081...",-63.046713,18.081407
48,53,1 ALL DES ANC COMBATTANTS,ASNIERES-SUR-SEINE,92600,"1 ALL DES ANC COMBATTANTS, ASNIERES-SUR-SEINE","(Asni√®res-sur-Seine, Arrondissement de Nanterr...",2.289045,48.910595
49,54,105 RUE DE L OURCQ,PARIS 19,75019,"105 RUE DE L OURCQ, PARIS 19","(Paris 19, Khu ƒë√¥ th·ªã Vinhomes Imperia, Ph∆∞·ªùng...",106.667553,20.865531
51,56,95 AV DES FRERES ROUSTAN,VALLAURIS,6220,"95 AV DES FRERES ROUSTAN, VALLAURIS","(Vallauris, Grasse, Alpes-Maritimes, Provence-...",7.058590,43.576100
54,59,32 BD DE VAUGIRARD,PARIS 15,75015,"32 BD DE VAUGIRARD, PARIS 15","(Paris 15, Khu ƒë√¥ th·ªã Vinhomes Imperia, Ph∆∞·ªùng...",106.669799,20.868629
57,63,40 RUE GEN DE GAULLE,BAYEL,10310,"40 RUE GEN DE GAULLE, BAYEL","(Bayel, Bar-sur-Aube, Aube, Grand Est, France ...",4.776096,48.198421
59,65,3 CHE DES BESSONS,MARSEILLE 14EME,13014,"3 CHE DES BESSONS, MARSEILLE 14EME","(Police nationale, Centre Commercial Urbain, S...",5.399088,43.330958
62,68,5 RUE CHANOINE LUCIEN GABEN,ALBI,81000,"5 RUE CHANOINE LUCIEN GABEN, ALBI","(Albi, Tarn, Occitanie, France m√©tropolitaine,...",2.147899,43.927755
65,71,13 RUE EMILE DUBOIS,PARIS 14,75014,"13 RUE EMILE DUBOIS, PARIS 14","(Paris 14, Khu ƒë√¥ th·ªã Vinhomes Imperia, Ph∆∞·ªùng...",106.667901,20.865919
85,92,34 RUE DU QUATRE SEPTEMBRE,VALENCE,26000,"34 RUE DU QUATRE SEPTEMBRE, VALENCE","(Val√®ncia, Comarca de Val√®ncia, Val√®ncia / Val...",-0.376335,39.469707
86,93,9001 VC RES LES RIVES DE DEAUVILLE,SAINT-ARNOULT,14800,"9001 VC RES LES RIVES DE DEAUVILLE, SAINT-ARNOULT","(Saint-Arnoult, Beauvais, Oise, Hauts-de-Franc...",1.819535,49.632087
89,96,1 MTE DE LA CROIX,LAIVES,71240,"1 MTE DE LA CROIX, LAIVES","(Laives, Chalon-sur-Sa√¥ne, Sa√¥ne-et-Loire, Bou...",4.846714,46.645277
93,100,279 CHE DE LA FLACHE,FONTENAILLES,77370,"279 CHE DE LA FLACHE, FONTENAILLES","(Fontenailles, Provins, Seine-et-Marne, √éle-de...",2.953889,48.555306

In [ ]:
df_adress = df_adress.append(df_nan, ignore_index=True)
df_nan.head(30)

,address_id,address,city,postal_code,address_comp,location,longitude,latitude
4,5,35 AV DU 159EME RIA,BRIANCON,5100,"35 AV DU 159EME RIA, BRIANCON","(Brian√ßon, Hautes-Alpes, Provence-Alpes-C√¥te d...",6.643631,44.898404
8,9,35 RUE PORTE ST JEAN,ORLEANS,45000,"35 RUE PORTE ST JEAN, ORLEANS","(Orl√©ans, Loiret, Centre-Val de Loire, France ...",1.908607,47.902734
13,14,117 RUE DES CHARMETTES,LYON 6EME,69006,"117 RUE DES CHARMETTES, LYON 6EME","(Le Comptoir du 6√®me, Rue Vend√¥me, Lyon 6e Arr...",4.844126,45.772840
16,17,5 PL MARCEL PAGNOL,SAINT-NAZAIRE,44600,"5 PL MARCEL PAGNOL, SAINT-NAZAIRE","(Saint-Nazaire, Loire-Atlantique, Pays de la L...",-2.213891,47.273352
21,23,20 BD PDT FRANKLIN ROOSEVELT,BORDEAUX,33800,"20 BD PDT FRANKLIN ROOSEVELT, BORDEAUX","(Bordeaux, Gironde, Nouvelle-Aquitaine, France...",-0.580036,44.841225
26,29,24 AV DE LA SERANE,MARSEILLE 8EME,13008,"24 AV DE LA SERANE, MARSEILLE 8EME","(Dae de Mairie 8eme Groupe, 246, Rue de Lyon, ...",5.364699,43.333141
31,34,7 RES DE LA VIERGE,EYGUIERES,13430,"7 RES DE LA VIERGE, EYGUIERES","(Eygui√®res, Aix-en-Provence, Bouches-du-Rh√¥ne,...",5.029721,43.695131
33,37,28 LOT MONT VERNON I,SAINT MARTIN,97150,"28 LOT MONT VERNON I, SAINT MARTIN","(Saint-Martin (France), 97150, France, (18.081...",-63.046713,18.081407
48,53,1 ALL DES ANC COMBATTANTS,ASNIERES-SUR-SEINE,92600,"1 ALL DES ANC COMBATTANTS, ASNIERES-SUR-SEINE","(Asni√®res-sur-Seine, Arrondissement de Nanterr...",2.289045,48.910595
49,54,105 RUE DE L OURCQ,PARIS 19,75019,"105 RUE DE L OURCQ, PARIS 19","(Paris 19, Khu ƒë√¥ th·ªã Vinhomes Imperia, Ph∆∞·ªùng...",106.667553,20.865531
51,56,95 AV DES FRERES ROUSTAN,VALLAURIS,6220,"95 AV DES FRERES ROUSTAN, VALLAURIS","(Vallauris, Grasse, Alpes-Maritimes, Provence-...",7.058590,43.576100
54,59,32 BD DE VAUGIRARD,PARIS 15,75015,"32 BD DE VAUGIRARD, PARIS 15","(Paris 15, Khu ƒë√¥ th·ªã Vinhomes Imperia, Ph∆∞·ªùng...",106.669799,20.868629
57,63,40 RUE GEN DE GAULLE,BAYEL,10310,"40 RUE GEN DE GAULLE, BAYEL","(Bayel, Bar-sur-Aube, Aube, Grand Est, France ...",4.776096,48.198421
59,65,3 CHE DES BESSONS,MARSEILLE 14EME,13014,"3 CHE DES BESSONS, MARSEILLE 14EME","(Police nationale, Centre Commercial Urbain, S...",5.399088,43.330958
62,68,5 RUE CHANOINE LUCIEN GABEN,ALBI,81000,"5 RUE CHANOINE LUCIEN GABEN, ALBI","(Albi, Tarn, Occitanie, France m√©tropolitaine,...",2.147899,43.927755
65,71,13 RUE EMILE DUBOIS,PARIS 14,75014,"13 RUE EMILE DUBOIS, PARIS 14","(Paris 14, Khu ƒë√¥ th·ªã Vinhomes Imperia, Ph∆∞·ªùng...",106.667901,20.865919
85,92,34 RUE DU QUATRE SEPTEMBRE,VALENCE,26000,"34 RUE DU QUATRE SEPTEMBRE, VALENCE","(Val√®ncia, Comarca de Val√®ncia, Val√®ncia / Val...",-0.376335,39.469707
86,93,9001 VC RES LES RIVES DE DEAUVILLE,SAINT-ARNOULT,14800,"9001 VC RES LES RIVES DE DEAUVILLE, SAINT-ARNOULT","(Saint-Arnoult, Beauvais, Oise, Hauts-de-Franc...",1.819535,49.632087
89,96,1 MTE DE LA CROIX,LAIVES,71240,"1 MTE DE LA CROIX, LAIVES","(Laives, Chalon-sur-Sa√¥ne, Sa√¥ne-et-Loire, Bou...",4.846714,46.645277
93,100,279 CHE DE LA FLACHE,FONTENAILLES,77370,"279 CHE DE LA FLACHE, FONTENAILLES","(Fontenailles, Provins, Seine-et-Marne, √éle-de...",2.953889,48.555306
94,103,5036 IMP DU RINQUANA,BISSY-SUR-FLEY,71460,"5036 IMP DU RINQUANA, BISSY-SUR-FLEY","(Bissy-sur-Fley, Chalon-sur-Sa√¥ne, Sa√¥ne-et-Lo...",4.620876,46.663169
95,104,33 RUE DU GEN DE GAULLE,L'AIGLE,61300,"33 RUE DU GEN DE GAULLE, L'AIGLE","(L'Aigle, Mortagne-au-Perche, Orne, Normandie,...",0.627804,48.765171
116,127,199 RUE JOLIOT CURIE,LYON 5EME,69005,"199 RUE JOLIOT CURIE, LYON 5EME","(Salon Quentin Memin Lyon 5eme- coiffeur Lyon,...",4.797870,45.756552
133,145,23 RUE DE THABERT,GONNEVILLE-LE THEIL,50330,"23 RUE DE THABERT, GONNEVILLE-LE THEIL","(Gonneville-le-Theil, Cherbourg, Manche, Norma...",-1.474042,49.620399
141,153,140 CHEM DE LAGROUNE,ANGRESSE,40150,"140 CHEM DE LAGROUNE, ANGRESSE","(Angresse, Arrondissement de Dax, Landes, Nouv...",-1.373420,43.658010
146,158,9 PL DU HUIT MAI 1945,PIERRELAYE,95480,"9 PL DU HUIT MAI 1945, PIERRELAYE","(Pierrelaye, Argenteuil, Val-d'Oise, √éle-de-Fr...",2.155720,49.023185
150,162,10 RUE DE NAVARIN,PARIS 09,75009,"10 RUE DE NAVARIN, PARIS 09","(Artenge, Avenida Espanha, Residencial Vivenda...",-51.418407,-22.121630
155,168,11 AV NAPOLEON 3,AJACCIO,20000,"11 AV NAPOLEON 3, AJACCIO","(Ajaccio, Corse-du-Sud, Corse, France m√©tropol...",8.737603,41.926399
164,179,10 RUE DES 4 VENTS,CABREROLLES,34480,"10 RUE DES 4 VENTS, CABREROLLES","(Cabrerolles, B√©ziers, H√©rault, Occitanie, Fra...",3.125140,43.544500
169,184,13 AV DU BARON ROUILLARD DE BEAU,LE COUDRAY,28630,"13 AV DU BARON ROUILLARD DE BEAU, LE COUDRAY","(Le Coudray, Chartres, Eure-et-Loir, Centre-Va...",1.501173,48.420592

Tri des adresses par id

In [ ]:
df_adress = df_adress.sort_values(by=['address_id'])
df_adress.head(30)

,address_id,address,city,postal_code,address_comp,location,longitude,latitude
0,1,318 CHE DE ROUMAGOUA,LA CIOTAT,13600,"318 CHE DE ROUMAGOUA, LA CIOTAT","(Chemin de Roumagoua, La Fieloula, La Ciotat, ...",5.611266,43.195126
1,2,19 RUE DES DAMES,SAINTE SAVINE,10300,"19 RUE DES DAMES, SAINTE SAVINE","(Rue des Dames, Sainte-Savine, Troyes, Aube, G...",4.045789,48.290905
2,3,22 RUE AMIRAL GUEPRATTE,LE CONQUET,29217,"22 RUE AMIRAL GUEPRATTE, LE CONQUET","(Rue Amiral Gu√©pratte, Le Croa√´, Le Conquet, B...",-4.768694,48.361279
3,4,6 BD DES ETINES,LE COTEAU,42120,"6 BD DES ETINES, LE COTEAU","(Boulevard des Etines, Le Coteau, Roanne, Loir...",4.092120,46.021659
562,5,35 AV DU 159EME RIA,BRIANCON,5100,"35 AV DU 159EME RIA, BRIANCON","(Brian√ßon, Hautes-Alpes, Provence-Alpes-C√¥te d...",6.643631,44.898404
4,5,35 AV DU 159EME RIA,BRIANCON,5100,"35 AV DU 159EME RIA, BRIANCON","(Brian√ßon, Hautes-Alpes, Provence-Alpes-C√¥te d...",6.643631,44.898404
5,6,36 RUE D EN HAUT,BRUNEMONT,59151,"36 RUE D EN HAUT, BRUNEMONT","(Rue d'En Haut, Brun√©mont, Douai, Nord, Hauts-...",3.141669,50.271954
6,7,1625 RTE DE CHAMBERY,SAINT-ISMIER,38330,"1625 RTE DE CHAMBERY, SAINT-ISMIER","(Saint Ismier, Route de Chamb√©ry, Le Fangeat, ...",5.829954,45.245535
7,8,3 RUE MONTESQUIEU,ASNIERES-SUR-SEINE,92600,"3 RUE MONTESQUIEU, ASNIERES-SUR-SEINE","(Rue Montesquieu, Centre-Ville, Asni√®res-sur-S...",2.294828,48.911836
563,9,35 RUE PORTE ST JEAN,ORLEANS,45000,"35 RUE PORTE ST JEAN, ORLEANS","(Orl√©ans, Loiret, Centre-Val de Loire, France ...",1.908607,47.902734
8,9,35 RUE PORTE ST JEAN,ORLEANS,45000,"35 RUE PORTE ST JEAN, ORLEANS",None,NaN,NaN
9,10,67 BD COMMANDANT CHARCOT,NEUILLY-SUR-SEINE,92200,"67 BD COMMANDANT CHARCOT, NEUILLY-SUR-SEINE","(67, Boulevard du Commandant Charcot, Neuilly-...",2.258147,48.880572
10,11,32 RUE DE LA POTERNE,BULLY,69210,"32 RUE DE LA POTERNE, BULLY","(Rue de la Poterne, Bully, Villefranche-sur-Sa...",4.581574,45.849159
11,12,5 RUE DE LA PROMENADE,HOUSSAY,53360,"5 RUE DE LA PROMENADE, HOUSSAY","(Rue de la Promenade, Houssay, Ch√¢teau-Gontier...",-0.741535,47.915673
12,13,20 RUE DE FENIDAN,CHARTRES-DE-BRETAGNE,35131,"20 RUE DE FENIDAN, CHARTRES-DE-BRETAGNE","(Rue de Fenidan, Chartres-de-Bretagne, Rennes,...",-1.703165,48.041102
564,14,117 RUE DES CHARMETTES,LYON 6EME,69006,"117 RUE DES CHARMETTES, LYON 6EME","(Le Comptoir du 6√®me, Rue Vend√¥me, Lyon 6e Arr...",4.844126,45.772840
13,14,117 RUE DES CHARMETTES,LYON 6EME,69006,"117 RUE DES CHARMETTES, LYON 6EME","(Le Comptoir du 6√®me, Rue Vend√¥me, Lyon 6e Arr...",4.844126,45.772840
14,15,8 RUE DES CHATELLIERS,FOMPERRON,79340,"8 RUE DES CHATELLIERS, FOMPERRON","(Rue des Chatelliers, Le Marchais, Fomperron, ...",-0.119785,46.482109
15,16,16 AV PIERRE LAROUSSE,MALAKOFF,92240,"16 AV PIERRE LAROUSSE, MALAKOFF","(16, Avenue Pierre Larousse, Quartier de Plais...",2.302545,48.823798
16,17,5 PL MARCEL PAGNOL,SAINT-NAZAIRE,44600,"5 PL MARCEL PAGNOL, SAINT-NAZAIRE","(Saint-Nazaire, Loire-Atlantique, Pays de la L...",-2.213891,47.273352
565,17,5 PL MARCEL PAGNOL,SAINT-NAZAIRE,44600,"5 PL MARCEL PAGNOL, SAINT-NAZAIRE","(Saint-Nazaire, Loire-Atlantique, Pays de la L...",-2.213891,47.273352
17,19,65 AV JEAN MOULIN,DREUX,28100,"65 AV JEAN MOULIN, DREUX","(65, Avenue Jean Moulin, Les Rochelles, Centre...",1.367378,48.727913
18,20,2 RTE DU MOULIN,LES HAYS,39120,"2 RTE DU MOULIN, LES HAYS","(2, Route du Moulin, Les Hays, Dole, Jura, Bou...",5.389655,46.906282
19,21,1 RUE DOCTEUR HOSPITAL,CLERMONT FERRAND,63100,"1 RUE DOCTEUR HOSPITAL, CLERMONT FERRAND","(Rue du Docteur Hospital, Chanturgue, Clermont...",3.086626,45.792267
20,22,43 AV FOCH,LA GARENNE-COLOMBES,92250,"43 AV FOCH, LA GARENNE-COLOMBES","(Avenue Foch, La Garenne-Colombes, Arrondissem...",2.250741,48.910270
21,23,20 BD PDT FRANKLIN ROOSEVELT,BORDEAUX,33800,"20 BD PDT FRANKLIN ROOSEVELT, BORDEAUX","(Bordeaux, Gironde, Nouvelle-Aquitaine, France...",-0.580036,44.841225
566,23,20 BD PDT FRANKLIN ROOSEVELT,BORDEAUX,33800,"20 BD PDT FRANKLIN ROOSEVELT, BORDEAUX","(Bordeaux, Gironde, Nouvelle-Aquitaine, France...",-0.580036,44.841225
22,24,3 IMP LES JARDINS DE PAUL,RABASTENS-DE-BIGORRE,65140,"3 IMP LES JARDINS DE PAUL, RABASTENS-DE-BIGORRE","(3, Impasse les Jardins de Paul, Rabastens-de-...",0.153153,43.384355
23,25,13 RUE ALPHONSE DAUDET,MONTSOULT,95560,"13 RUE ALPHONSE DAUDET, MONTSOULT","(Rue Alphonse Daudet, Montsoult, Sarcelles, Va...",2.309348,49.071250
24,26,19 RUE PELISSIER,CLERMONT FERRAND,63100,"19 RUE PELISSIER, CLERMONT FERRAND","(Rue P√©lissier, La Pradelle, Clermont-Ferrand,...",3.104068,45.785462

suppression des doubons

In [ ]:
#df_adress = df_adress.drop_duplicates(subset=['address_id'], keep='last')
df_adress = df_adress.dropna()
df_adress = df_adress.drop_duplicates(subset=['address_id'], keep='last')
df_adress.head(40)

,address_id,address,city,postal_code,address_comp,location,longitude,latitude
0,1,318 CHE DE ROUMAGOUA,LA CIOTAT,13600,"318 CHE DE ROUMAGOUA, LA CIOTAT","(Chemin de Roumagoua, La Fieloula, La Ciotat, ...",5.611266,43.195126
1,2,19 RUE DES DAMES,SAINTE SAVINE,10300,"19 RUE DES DAMES, SAINTE SAVINE","(Rue des Dames, Sainte-Savine, Troyes, Aube, G...",4.045789,48.290905
2,3,22 RUE AMIRAL GUEPRATTE,LE CONQUET,29217,"22 RUE AMIRAL GUEPRATTE, LE CONQUET","(Rue Amiral Gu√©pratte, Le Croa√´, Le Conquet, B...",-4.768694,48.361279
3,4,6 BD DES ETINES,LE COTEAU,42120,"6 BD DES ETINES, LE COTEAU","(Boulevard des Etines, Le Coteau, Roanne, Loir...",4.092120,46.021659
4,5,35 AV DU 159EME RIA,BRIANCON,5100,"35 AV DU 159EME RIA, BRIANCON","(Brian√ßon, Hautes-Alpes, Provence-Alpes-C√¥te d...",6.643631,44.898404
5,6,36 RUE D EN HAUT,BRUNEMONT,59151,"36 RUE D EN HAUT, BRUNEMONT","(Rue d'En Haut, Brun√©mont, Douai, Nord, Hauts-...",3.141669,50.271954
6,7,1625 RTE DE CHAMBERY,SAINT-ISMIER,38330,"1625 RTE DE CHAMBERY, SAINT-ISMIER","(Saint Ismier, Route de Chamb√©ry, Le Fangeat, ...",5.829954,45.245535
7,8,3 RUE MONTESQUIEU,ASNIERES-SUR-SEINE,92600,"3 RUE MONTESQUIEU, ASNIERES-SUR-SEINE","(Rue Montesquieu, Centre-Ville, Asni√®res-sur-S...",2.294828,48.911836
563,9,35 RUE PORTE ST JEAN,ORLEANS,45000,"35 RUE PORTE ST JEAN, ORLEANS","(Orl√©ans, Loiret, Centre-Val de Loire, France ...",1.908607,47.902734
9,10,67 BD COMMANDANT CHARCOT,NEUILLY-SUR-SEINE,92200,"67 BD COMMANDANT CHARCOT, NEUILLY-SUR-SEINE","(67, Boulevard du Commandant Charcot, Neuilly-...",2.258147,48.880572
10,11,32 RUE DE LA POTERNE,BULLY,69210,"32 RUE DE LA POTERNE, BULLY","(Rue de la Poterne, Bully, Villefranche-sur-Sa...",4.581574,45.849159
11,12,5 RUE DE LA PROMENADE,HOUSSAY,53360,"5 RUE DE LA PROMENADE, HOUSSAY","(Rue de la Promenade, Houssay, Ch√¢teau-Gontier...",-0.741535,47.915673
12,13,20 RUE DE FENIDAN,CHARTRES-DE-BRETAGNE,35131,"20 RUE DE FENIDAN, CHARTRES-DE-BRETAGNE","(Rue de Fenidan, Chartres-de-Bretagne, Rennes,...",-1.703165,48.041102
13,14,117 RUE DES CHARMETTES,LYON 6EME,69006,"117 RUE DES CHARMETTES, LYON 6EME","(Le Comptoir du 6√®me, Rue Vend√¥me, Lyon 6e Arr...",4.844126,45.772840
14,15,8 RUE DES CHATELLIERS,FOMPERRON,79340,"8 RUE DES CHATELLIERS, FOMPERRON","(Rue des Chatelliers, Le Marchais, Fomperron, ...",-0.119785,46.482109
15,16,16 AV PIERRE LAROUSSE,MALAKOFF,92240,"16 AV PIERRE LAROUSSE, MALAKOFF","(16, Avenue Pierre Larousse, Quartier de Plais...",2.302545,48.823798
565,17,5 PL MARCEL PAGNOL,SAINT-NAZAIRE,44600,"5 PL MARCEL PAGNOL, SAINT-NAZAIRE","(Saint-Nazaire, Loire-Atlantique, Pays de la L...",-2.213891,47.273352
17,19,65 AV JEAN MOULIN,DREUX,28100,"65 AV JEAN MOULIN, DREUX","(65, Avenue Jean Moulin, Les Rochelles, Centre...",1.367378,48.727913
18,20,2 RTE DU MOULIN,LES HAYS,39120,"2 RTE DU MOULIN, LES HAYS","(2, Route du Moulin, Les Hays, Dole, Jura, Bou...",5.389655,46.906282
19,21,1 RUE DOCTEUR HOSPITAL,CLERMONT FERRAND,63100,"1 RUE DOCTEUR HOSPITAL, CLERMONT FERRAND","(Rue du Docteur Hospital, Chanturgue, Clermont...",3.086626,45.792267
20,22,43 AV FOCH,LA GARENNE-COLOMBES,92250,"43 AV FOCH, LA GARENNE-COLOMBES","(Avenue Foch, La Garenne-Colombes, Arrondissem...",2.250741,48.910270
566,23,20 BD PDT FRANKLIN ROOSEVELT,BORDEAUX,33800,"20 BD PDT FRANKLIN ROOSEVELT, BORDEAUX","(Bordeaux, Gironde, Nouvelle-Aquitaine, France...",-0.580036,44.841225
22,24,3 IMP LES JARDINS DE PAUL,RABASTENS-DE-BIGORRE,65140,"3 IMP LES JARDINS DE PAUL, RABASTENS-DE-BIGORRE","(3, Impasse les Jardins de Paul, Rabastens-de-...",0.153153,43.384355
23,25,13 RUE ALPHONSE DAUDET,MONTSOULT,95560,"13 RUE ALPHONSE DAUDET, MONTSOULT","(Rue Alphonse Daudet, Montsoult, Sarcelles, Va...",2.309348,49.071250
24,26,19 RUE PELISSIER,CLERMONT FERRAND,63100,"19 RUE PELISSIER, CLERMONT FERRAND","(Rue P√©lissier, La Pradelle, Clermont-Ferrand,...",3.104068,45.785462
25,28,8 RUE CECILE BRUNSCHVICG,TOULOUSE,31200,"8 RUE CECILE BRUNSCHVICG, TOULOUSE","(8, Rue C√©cile Brunschvicg, Minimes - Barri√®re...",1.422247,43.612662
567,29,24 AV DE LA SERANE,MARSEILLE 8EME,13008,"24 AV DE LA SERANE, MARSEILLE 8EME","(Dae de Mairie 8eme Groupe, 246, Rue de Lyon, ...",5.364699,43.333141
27,30,261 AV SULLY,BETHUNE,62400,"261 AV SULLY, BETHUNE","(261, Avenue Sully, B√©thune, Pas-de-Calais, Ha...",2.629561,50.528644
28,31,65 AV HENRI BARBUSSE,LE BLANC-MESNIL,93150,"65 AV HENRI BARBUSSE, LE BLANC-MESNIL","(Avenue Henri Barbusse, Le Blanc-Mesnil, Le Ra...",2.462673,48.924005
29,32,60 RUE LAFAURIE MONBADON,BORDEAUX,33000,"60 RUE LAFAURIE MONBADON, BORDEAUX","(60, Rue Lafaurie de Monbadon, Triangle d'Or, ...",-0.580000,44.845469
30,33,13 RUE DES TANNERIES,NANCY,54000,"13 RUE DES TANNERIES, NANCY","(13, Rue des Tanneries, Rives de Meurthe, Nanc...",6.190156,48.697171
568,34,7 RES DE LA VIERGE,EYGUIERES,13430,"7 RES DE LA VIERGE, EYGUIERES","(Eygui√®res, Aix-en-Provence, Bouches-du-Rh√¥ne,...",5.029721,43.695131
32,36,614 AV DE MONTFERRAT,DRAGUIGNAN,83300,"614 AV DE MONTFERRAT, DRAGUIGNAN","(614, Avenue de Montferrat, Clos Jean Aicard, ...",6.457811,43.543328
569,37,28 LOT MONT VERNON I,SAINT MARTIN,97150,"28 LOT MONT VERNON I, SAINT MARTIN","(Saint-Martin (France), 97150, France, (18.081...",-63.046713,18.081407
34,38,120 RUE ETCHENIQUE,BORDEAUX,33200,"120 RUE ETCHENIQUE, BORDEAUX","(120, Rue Etchenique, Caud√©ran, Bordeaux, Giro...",-0.612793,44.840907
35,39,15 RUE DES PYRENEES,LISSES,91090,"15 RUE DES PYRENEES, LISSES","(Rue des Pyr√©n√©es, Parc Technologique du Bois ...",2.431004,48.605622
36,40,6 RUE DE LA TROMPETTE,LA ROCHELLE,17000,"6 RUE DE LA TROMPETTE, LA ROCHELLE","(Rue de la Trompette, Le Prieur√©, La Trompette...",-1.155755,46.170687
37,41,25 BD DE L'EUROPE UNIE,RUOMS,7120,"25 BD DE L'EUROPE UNIE, RUOMS","(Boulevard de l'Europe Unie, Ruoms, Largenti√®r...",4.343719,44.455463
38,42,11 RTE DE LAVAL,SALINS,77148,"11 RTE DE LAVAL, SALINS","(Route de Laval, Salins, Provins, Seine-et-Mar...",3.012496,48.425086
39,43,26 RUE STE CROIX PELLETIERS,ROUEN,76000,"26 RUE STE CROIX PELLETIERS, ROUEN","(26, Rue Sainte-Croix des Pelletiers, Vieux-Ma...",1.089888,49.444083

Suppression des colonnes cr√©es pour r√©alis√© la recherche

In [ ]:
df_adress = df_adress.drop(columns=['address_comp'])
df_adress = df_adress.drop(columns=['location'])
df_adress.head(100)

KeyError: ignored

In [ ]:
df_adress.head(700)

,address_id,address,city,postal_code,longitude,latitude
0,1,318 CHE DE ROUMAGOUA,LA CIOTAT,13600,5.611266,43.195126
1,2,19 RUE DES DAMES,SAINTE SAVINE,10300,4.045789,48.290905
2,3,22 RUE AMIRAL GUEPRATTE,LE CONQUET,29217,-4.768694,48.361279
3,4,6 BD DES ETINES,LE COTEAU,42120,4.092120,46.021659
4,5,35 AV DU 159EME RIA,BRIANCON,5100,6.643631,44.898404
...,...,...,...,...,...,...
557,601,20 RUE COLI,MONTREUIL,93100,2.468415,48.868459
558,602,6 AV JEAN JAURES,FEURS,42110,4.226839,45.743563
559,603,1 RUE HENRI RENAUDIN,CHARLEVILLE-MEZIERES,8000,4.708829,49.773546
560,604,2 RUE DE LYON,EPINAY SUR SEINE,93800,2.292919,48.953836
561,605,4 RUE DENIS PAPIN,BLAIN,44130,-1.747235,47.482766

In [ ]:
df_update = df_adress
df_update.head(100)

KeyError: ignored

cr√©ation d'un fichier csv avec la nouvelle table

In [ ]:
from google.colab import files
df_update.to_csv('address_update.csv')
files.download('address_update.csv')